In [13]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv 

# Connection string for host (since Jupyter is on your PC, not inside Docker)
#DATABASE_URL = "postgresql://postgres:postgres@localhost:5432/hrdb"
DATABASE_URL = os.getenv("DATABASE_URL")

engine = create_engine(DATABASE_URL)

# Query employees table from public schema
df = pd.read_sql("SELECT * FROM public.employees;", engine)
df.head()

,employee_id,first_name,last_name,department,role,employment_status,hire_date,leave_type,salary_local,salary_usd,manager_name
0,7,Alice,Smith,Engineering,Software Engineer,Active,2025-03-01,None,120000.0,120000.0,John Doe
1,8,Bob,Jones,Engineering,Senior Engineer,Active,2024-12-01,None,140000.0,140000.0,John Doe
2,9,Carol,Lee,HR,HR Manager,On Leave,2024-06-15,Parental Leave,90000.0,90000.0,Sarah Connor

In [14]:
import re
import sqlparse
from sqlalchemy import create_engine
import pandas as pd
from dotenv import load_dotenv
import os
from openai import OpenAI

# === Load environment variables ===
load_dotenv(override=True)

# Confirm OpenAI key
print("OPENAI_API_KEY loaded:", bool(os.getenv("OPENAI_API_KEY")))

# === Initialize OpenAI client (latest SDK) ===
client = OpenAI()

# === PostgreSQL connection setup ===
#DATABASE_URL = "postgresql://postgres:postgres@localhost:5432/hrdb"
DATABASE_URL = os.getenv("DATABASE_URL")
engine = create_engine(DATABASE_URL)

# === Define user question ===
User_Question = "List employees hired in the last 11 months"

# === Chat messages for OpenAI ===
messages = [
    {
        "role": "system",
        "content": (
            "You are an assistant that converts natural-language questions into SQL queries "
            "and chart suggestions. The user is querying a PostgreSQL table called `employees` "
            "with columns: employee_id, first_name, last_name, department, role, employment_status, "
            "hire_date, leave_type, salary_local, salary_usd, manager_name. Your goal is to interpret "
            "user questions about this data, generate relevant and efficient SQL queries, and suggest "
            "appropriate chart types for visualization. Always respond with SQL that can run directly "
            "on the `employees` table and is optimized for clarity and performance."
        )
    },
    {"role": "user", "content": User_Question}
]

# === Send to OpenAI Chat Completion API ===
response = client.chat.completions.create(
    model="gpt-4.1-mini",
    messages=messages,
    temperature=0  # focused and deterministic
)

# === Step 1: Extract raw GPT response ===
raw_response = response.choices[0].message.content

# === Step 2: Extract SQL from ```sql ... ``` or plain text ===
def extract_sql(text):
    match = re.search(r"```sql(.*?)```", text, re.DOTALL | re.IGNORECASE)
    if match:
        return match.group(1).strip()
    return text.strip()

# === Step 3: Clean and format the SQL ===
stripped_sql = extract_sql(raw_response)           # Remove ```sql ... ```
unescaped_sql = stripped_sql.replace("\\n", "\n")  # Replace escaped \n with real line breaks
cleaned_sql = unescaped_sql.rstrip(";")            # Remove trailing semicolon
final_sql = sqlparse.format(cleaned_sql, reindent=True, keyword_case='upper')

print("Final SQL ready for execution:\n", final_sql)

# === Step 4: Execute SQL against PostgreSQL ===
df = pd.read_sql(final_sql, engine)
print("\nQuery Results:\n", df.head())

OPENAI_API_KEY loaded: True
Final SQL ready for execution:
 SELECT employee_id,
       first_name,
       last_name,
       department,
       ROLE,
       hire_date
FROM employees
WHERE hire_date >= CURRENT_DATE - INTERVAL '11 months'
ORDER BY hire_date DESC

Query Results:
    employee_id first_name last_name   department               role  \
0            7      Alice     Smith  Engineering  Software Engineer
1            8        Bob     Jones  Engineering    Senior Engineer

    hire_date
0  2025-03-01
1  2024-12-01